.detail--group {
  display flex
  justify-content space-between
  background #fff
  text-align center
  a {
    text-decoration none
    color: #000
    display block
    margin 0
    width 100%
    background #fff
    padding 10px
    font-size 14px
  }
  .router-link-active {
    color: #fff;
    background-color: #20A0FF;
  }
}

.info--title {
  font-size 14px;
  text-align center
}
.add--textarea--wrap {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #e0e0e0;
  .add--text--area {
    outline: none;
    resize: none;
    width: 90%;
    border: 1px solid #e0e0e0;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
  }
}


