.detail--group {
  display flex
  justify-content space-between
  background #fff
  text-align center
  a {
    text-decoration none
    color: #000
    display block
    margin 0
    width 100%
    background #fff
    padding 10px
    font-size 14px
  }
  .router-link-active {
    color: #fff;
    background-color: #20A0FF;
  }
}
  .info--title {
    font-size 14px;
    text-align center
  }


