@import "../../../css/basic.styl"
.detail--group {
  display: flex;
  justify-content: space-between;
  background: #fff;
  text-align: center;
  a {
    text-decoration: none;
    color: #000;
    display block;
    margin: 0;
    width: 100%;
    background: #fff;
    padding: 10px;
    font-size: 14px;
  }
  .router-link-active {
    color: #fff;
    background-color: #20A0FF;
  }
}

.info--title {
  font-size: 14px;
  text-align: center;
}

.add--textarea--wrap {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 15px;
  margin: 10px 0;
  font-size: 15px;
  .add--text--area {
    outline: none;
    resize: none;
  //border: 1px solid #e0e0e0;
    border: none;
    line-height: 20px;
    font-size: 15px;
  }
  .textarea--title {
    // padding-top: 15px;
    // padding-bottom: 5px;
    height: 48px;
  }
  .textarea--length {
    text-align: right;
    padding: 10px 0;
  }
}

.tentadd {
  // selector的placeholder颜色
  .Selector--values-shallow
  .field--placeholder{
    color: #ccc
    font-size: 15px;
  }
  .btn--wrap {
    position: fixed;
    height: 75px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
  }
  .btn--addtent {
    position: fixed;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background-color: #ccc;
    border-radius: 3px;
    font-size: 15px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    &.active {
      background: color-blue;
    }
  }
  /*.Cell--bd {
    color: #333;
  }*/
  .relasel--wrap {
    .smart-border-bottom:after {
      border: none;
    }
  }

  .textarea--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // 日志稍后再写点击后按钮置灰
  .btn--delay--write {
    background-color: #ccc!important;
  }
  //加红色星号
  /*.required--field {
    .Field--label:before,
    .Cell--title:before {
      content: ' *';
      color: red;
      font-size: 20px;
    }
  }*/

  /*.smart-border-bottom:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    border-bottom: 1px solid #c8c7cc;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
  }*/
}



