.mbo {
  .tab--item {
    color: #333;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.active {
      color: #20a0ff;
      font-weight: bold;
      background-color: #fff;
      border-bottom: 2px solid #20a0ff;
    }
  }
  .steps--bar {
    padding: 8px 5px 5px 25px;
  }
  .button--large {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .setting--statistic {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .page--switcher {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  }
}

.week--switch {
  padding: 5px 0;
  .switch--left {
    margin: 8px 0;
    background: #20a0ff;
    color: #fff;
    flex: 0.5
  //border-radius: 50%;
  }
  .switch--right {
  //border-left: 1px solid #20a0ff;
    font-size: 16px;
    display: flex;
    flex: 0.5;
    flex-direction: column;
    align-items: center;
  }
  .switch--middle {
    flex: 5;
  }
}

.month--icon {
  width: 20px;
  height: 20px;
  background: url(../../../images/user/month.svg) no-repeat;
  background-size: cover;
  margin-bottom: 5px;
}

.months--group {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #20a0ff;
  padding: 5px 0;
  margin-top: 40px;
  .month--item {
    color: #333;
    width: 16%;
    height: 30px;
    padding: 5px 0;
    text-align: center;
    line-height: 30px;
    &.active {
      background: #20a0ff;
      color: #fff;
      border-radius: 50%;
    }
  }
}

.setting--area {
  display: flex;
  flex-direction: column;
  align-items: center;
  .setting--period {
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
  }
  .goal--box {
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    background: #20a0ff;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .time--cell {
    background: #000;
    color: #fff;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 5px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */
{
  opacity: 0
}

