.flag--undo:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  top: 12px;
  border-radius: 50%;
  background-color: #ff4d5e;
}

.goal--icon {
  width: 20px;
  height: 20px;
  background: url(../../../images/user/goal.svg) no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.todo--icon {
  width: 20px;
  height: 20px;
  background: url(../../../images/user/todo.svg) no-repeat;
  background-size: cover;
  margin-right: 10px;
}
