.userView {
  .tab--item {
    border-bottom: 0;
    color: #858585;
    //background-color: #f5f5f5;
  }
  .tab--item.active {
    color: #20a0ff;
    background-color: #fff;
    border-bottom: 1px solid #20a0ff;
  }
}

.user--header {
  background: #fff;
}

.user--header--rt {
  padding 10px;
  text-align center
  span {
    margin 5px;
    i {
      font-style normal;
      font-size 22px;
      color #fd6322;
    }
  }
}

.user--header--rb {
  text-align center;
}

.list--item {
  flex: 1;
  text-align: center;
  padding: 10px 5px;
  box-sizing: border-box;
}

.list--item--cont {
  font-size: 14px;
  color: #353535;
}

.list--item--name {
  font-size: 12px;
  color: #8492A6;
}

.user--bd {
  background #fff;
}

.user--bd--title {
  border-top: 1px solid #8492A6
  text-align center
  padding 10px 20px;
}
