.tentacleDetail--tab {
  display: flex;
  background-color: #fff;
}
.tentacleDetail--tabItem {
  flex: 1;
  text-align: center;
  padding: 10px 5px;
  box-sizing: border-box;
}

.tentacleDetail--tabItem--name {
  font-size: 12px;
  color: #8492A6;
}

.tentacleDetail--tabItem.active {
  background-color: #f5f5f5;
  .tentacleDetail--tabItem--name {
    color: red;
  }
}

.tentacle--listItem--btn {
  display: inline-block;
  min-width: 50px;
  margin-left: 10px;
  padding: 6px 10px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background-color: #20A0FF;
}
  .visit--record--top {
    background #fff;
  }
