.achieve--history .achieve--title,
.achieve--exchange .achieve--title,
.achieve--status .achieve--title{
  padding 5px
  background-color: #EFF2F7;
  text-align center
  box-sizing border-box
}
.achieve--exchange {
  background #fff
}

.tentacleDetail--tab {
  display: flex;
  background-color: #fff;
}
.exchange--bd {
  >div {
    margin: 10px 20px
  }
  a {
    color: #20a0ff
    text-decoration underline
  }
}

.tentacleDetail--tabItem {
  flex: 1;
  text-align: center;
  padding: 10px 5px;
  box-sizing: border-box;
}

.tentacleDetail--tabItem--cont {
  padding-bottom: 5px;
  font-size: 14px;
  color: #353535;
}

.tentacleDetail--tabItem--name {
  font-size: 12px;
  color: #8492A6;
}

.tentacleDetail--tabItem.active {
  background-color: #f5f5f5;
}


