.havepadding {
  padding-bottom: 48px
}

.tab--flag--undo:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  top: 6px;
  right: 42px;
  border-radius: 50%;
  background-color: #ff4d5e;
}