.uploader--header {
  background-color: #fff;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  height: 48px;
  font-size: 15px;
  color: #333;
  align-items: center;
  .field--tip {
    color: #ccc;
  }
  .btn--add--photo {
    font-size: 42px;
    color: #2b8ff7
    line-height: 48px;
  }
}

.photo--box {
  display: flex;
  flex-wrap: wrap;
  > img {
    border: 2px solid #ccc;
    margin-left: 5px;
    margin-top: 5px;
    width: 96px;
    height: 96px;
  }
}
