blue = #20A0FF
green = #13CE66
red = #FF4949
orange = #F7BA2A
black = #1F2D3D
border(color)
  border 4px solid color
  border-radius 50%

.index--search {
  margin: 30px;
  height: 30px;
  border-radius: 8px;
  > input {
    width: 100%;
    height: 100%;
  }
}

.index--count {
  display: flex;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  justify-content:space-between;
  text-align: center;


  .index--active {
    border(orange)
  }
  .index--contract {
    border(blue)
  }
  .index--order {
    border(green)
  }
}
.index--total {
  border(black)
}
.count--inner {
  font-size: 12px;
  margin: 5px;
  padding 10px
  .index--num {
    font-size: 18px;
  }

}
.index--overview {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 10px;
  box-sizing: border-box;

}
.index--wrap {
  width:46%;
  margin: 5px;
  height: 80px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  > a {
    text-decoration: none;
    color: #000;
  }
}
.danger {
  background: red
}
.success {
  background green
}
.warning {
  background orange
}
.blue {
  background blue
}
.index--label {
  color: #fff;
  font-size:12px;
}




