.tent--index--header {
  position: fixed;
  left: 0;
  right: 0;
}

.index--overview {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 5px;
  box-sizing: border-box;
  background-color: #03ccff;
  .index--wrap {
    width:46%;
    margin: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
    height: 80px;
    background: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    > a {
      text-decoration: none;
      color: #000;
    }
    .index--count {
      color red;
      font-size 16px;
      font-weight 500;
    }
    .index--reply {
      color #20A0FF
    }
    .index--label {
      color: #8492a6;
      font-size:12px;
    }
  }
}

.tentacleView--tab {
  display: flex;
  background-color: #fff;
  padding-top: 50px;
}

.tentacleView--tabItem {
  flex: 1;
  text-align: center;
  padding: 10px 5px;
  border-bottom: 2px solid #20a0ff;
  box-sizing: border-box;
}

.tentacleView--tabItem--cont {
  padding-bottom: 5px;
  font-size: 14px;
  color: #353535;
}

.tentacleView--tabItem--name {
  font-size: 12px;
  color: #8492A6;
}

.tentacleView--tabItem.selected {
  background-color: #f5f5f5;
}

.tentacleView--tabItem.selected .tentacleView--tabItem--cont,
.tentacleView--tabItem.selected .tentacleView--tabItem--name {
  color: #fd6322;
}
