.index--search {
  margin: 30px;
  height: 30px;
  border-radius: 8px;
  > input {
    width: 100%;
    height: 100%;
  }
}

.index--count {
  display: flex;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  justify-content:space-between;
  text-align: center;
  .count--inner {
    font-size: 4px;
    margin: 5px;
    .index--num {
        font-size: 18px;
      }
  }
}
.index--overview {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 10px;
  box-sizing: border-box;
}
.index--wrap {
  width:46%;
  margin: 5px;
  background: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  > a {
    text-decoration: none;
    color: #000;
  }
}

.index--label {
  color: #bbbbbb;
  font-size:8px;
}




