.todo--item {
  display flex
  border-bottom: 1px solid gray
  padding 20px;
  justify-content space-around
  .todo--right {
    display flex
    align-items center
    margin-left 10px
    .tentacle--listItem--btn {
      padding: 5px 3px
    }
  }
}
