.todo--item {
  display flex
  border-bottom: 1px solid gray
  padding 20px;
  justify-content space-around
  .todo--right {
    display flex
    align-items center
    margin-left 10px
    justify-content flex-end
  }
  .popup--layer {
    background #fff
    padding 20px;
    height 100px
    overflow hidden
  }

}

