.todo--item {
  border-bottom: 1px solid gray
  padding 20px;
  justify-content space-around

  .popup--layer {
    background #fff
    padding 20px;
    height 100px
    overflow hidden
  }
}

.todo--item--ft {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
}
