.tentacleListView {
  .bottom-notice {
    padding: 15px 15px;
  }
  a {
    color: #20a0ff;
  }

  .tab--item {
    flex: 1;
    text-align: center;
    padding: 10px 5px;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    &.active {
      color: #FF4949;
      background: #fff;
      border-bottom: 2px solid #FF4949;
    }
  }

}
