.search--type {
  display flex
  list-style none
  padding 0 30px
  box-sizing border-box
  justify-content space-between
}

.search--yield {
  display flex
  list-style none
  margin 0 auto 10px
  padding 0 30px
  box-sizing border-box
  justify-content space-between
}
