.clueDetailWrapper {
  padding-bottom: 60px;
}

.clueDetail--order {
  padding: 0 15px;
  background-color: #fff;
}

.clueDetail--order--hd {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

.clueDetail--order--bd {
  display: flex;
  padding: 15px 0 20px 0;
}

.clueDetail--order--ft {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
  font-size: 0;
}

.clueDetail--order--rate,
.clueDetail--order--cost {
  flex: 1;
  text-align: center;
  color: #8492A6;
  .cont {
    padding-bottom: 20px;
    font-size: 16px;
  }
  .name {
    font-size: 12px;
    color: #8492a6;
  }
}


.clueDetail--card {
  background-color: #fff;
}

.clueDetail--card--hd {
  padding: 8px 15px;
  font-size: 12px;
  color: #8492A6;
  border-bottom: 1px solid #e0e0e0;
}

.clueDetail--card--bd {
  display: flex;
  padding: 20px 15px;
  text-align: center;
  dl {
    flex: 1;
  }
  dd {
    padding-bottom: 15px;
    font-size: 14px;
    color: #fd6322;
  }
  dt {
    font-size: 12px;
    color: #8492a6;
  }
}

.clueDetail--card--ft {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 20px;
  color: #20A0FF;
}

.clueDetail--username {
  height: 20px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #20A0FF;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  background-image: url(../../../images/user-active.svg);
}

.clueDetail--userphone {
  height: 20px;
  padding-left: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #20A0FF;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  background-image: url(../../../images/icon-call.svg);
}


.todos {
  border-bottom: 1px solid #e0e0e0;
}

.todos--time {
  font-size: 12px;
  color: #8492a6;
}

.todos--title {
  padding-top: 10px;
  font-size: 14px;
}

.todos--cont {
  padding: 10px 0;
  font-size: 12px;
  color: #8492a6;
}


.clueDetail--remark {
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  color: #8492a6;
  background-color: #f5f5f5;
}


.clueDetail--operation {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #fff;
}

.clueDetail--operation-btn {
  flex: 1;
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #20a0ff;
}

.clueDetail--operation-btn:nth-child(1),
.clueDetail--operation-btn:nth-child(2) {
  margin-right: 1px;
}



/**
 * 预约面签
 */
.clueDetail--interview {
  padding-bottom: 30px;
  background-color: #fff;
}


.clueDetail--loanScheme {
  border-bottom: 1px solid #e0e0e0;
}

.clueDetail--loanScheme-name {
  font-size: 15px;
}
