.detail--info {
  .info--title {
    //text-align center;
    //font-size 18px;
  }
  .info--item--title {
    //font-size: 18px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
  }
  .edit--btn--wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .last--cell {
    margin-bottom: 50px;
  }
}

