@import "../../../css/basic.styl"
.btn--addorgan {
  //position: absolute;
  height: 45px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #ccc;
  border-radius: 3px;
  font-size: 15px;
  color: #fff;
  line-height: 45px;
  text-align: center;
  &.active {
    background: color-blue
  }
}
  /*.btn--wrap {
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
  }*/
