@import "../../../css/basic.styl"
.btn--addorgan {
  height: 45px;
  margin: 20px 15px 15px 15px;
  background-color: #ccc;
  border-radius: 3px;
  font-size: 15px;
  color: #fff;
  line-height: 45px;
  text-align: center;
  &.active {
    background: color-blue
  }
}
