.organ--body--bg {
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
  margin-top: 150px;
}

.organ--txt {
  line-height: 15px;
  color: #ccc;
  font-size: 15px;
  margin-bottom: 6px;

}

.no--search--result {
  text-align: center;
}

.search--result {
  padding: 0 15px;
  background: #fff;
  padding-top: 75px;
  .hot--title {
    color: #333;
    font-weight: bold;
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .institution--letter {
    padding: 3px 0;
    background: #ddd;
    //margin: 1px 0;
    padding-left: 5px;
    color: #fff;
  }
  .organ--item {
    height: 45px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
    >div {
      background: #fff;
      height: 45px;
      font-size: 15px;
      line-height: 45px;
      width: 100%;
      color: #333;
    }
    >img {
      width: 17px;
      height: 17px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.organ--header {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  .input--wrap {
    flex: 15;
    height: 45px;
    margin-right: 10px;
    background: #edf0f5;
    color: #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    >img {
      width: 18px;
      height: 16px;
      margin: 0 15px;
    }
    >input {
      font-size: 15px;
      width: 100%;
      margin-right: 15px;
      background: #edf0f5;
    }
  }
  .add--organ--icon {
    width: 30px;
    height: 30px;
  }
}

