.tentacleSearch--tab {
  display flex
  background #fff
  margin-bottom: 10px;
}
.tentacleSearch--tabItem {
  flex: 1;
  text-align: center;
  padding: 10px 5px;
  box-sizing: border-box;
}

.tentacleSearch--tabItem--cont {
  padding-bottom: 5px;
  font-size: 14px;
  color: #353535;
}

.tentacleSearch--tabItem--name {
  font-size: 12px;
  color: #8492A6;
}

.tentacleSearch--tabItem.active {
  background-color: #f5f5f5;
}

.tentacleSearch--tabItem.active .tentacleSearch--tabItem--cont,
.tentacleSearch--tabItem.active .tentacleSearch--tabItem--name {
  color: #fd6322;
}


