.search--type {
  display flex
  list-style none
  background #fff
  width 100%
  margin 0 auto
  //padding 20px 30px
  box-sizing border-box
  justify-content space-around
}

.search--yield {
  display flex
  background #fff
  //width 100%
  //margin 10px 30px
  padding 20px 30px
  box-sizing border-box
  justify-content space-around
}
