/* global variables
 ======================================== */

color-blue = #20a0ff // 蓝色
color-orange = #fd6322 // 黄色
color-gray = #8492a6 // 浅黑
color-green = #13ce66 // 绿色
color-red = #FF4949 // 红色
color-lime = #c2d352

/* flexbox
 ======================================== */

.flex {
  display: flex;
}

for num in 1 2 3 4 5 6
  .flex-{num}
    flex: num

/* 垂直居中 */
.vertical-center {
  align-items: center;
}

/* 水平垂直居中 */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* gutter
 ======================================== */

for num in 5 10 15 20 25 30 35 40 50 60
  // margin top
  .mt{num}
    margin-top: num px
  // margin right
  .mr{num}
    margin-right: num px
  // margin botom
  .mb{num}
    margin-bottom: num px
  // margin left
  .ml{num}
    margin-left: num px
  // padding
  .pd{num}
    padding: num px
  // padding top
  .pt{num}
    padding-top: num px
  // padding right
  .pr{num}
    padding-right: num px
  // padding bottom
  .pb{num}
    padding-bottom: num px
  // padding left
  .pl{num}
    padding-left: num px

/* font size
======================================== */
for num in 12 14 16 18 24 26 30
  .font-{num}
    font-size: num px

/* font color
======================================== */

/* 提高优先级 */
body {
  /* 蓝色 */
  .color-blue {
    color: color-blue;
  }
  /* 黄色 */
  .color-orange {
    color: color-orange;
  }
  /* 浅灰 */
  .color-gray {
    color: color-gray;
  }
  /* 绿色 */
  .color-green {
    color: color-green;
  }
  /* 红色 */
  .color-red {
    color: color-red;
  }
}

/* 提高优先级 */
body {
  .bg-blue {
    background-color: color-blue;
  }

  .bg-orange {
    background-color: color-orange;
  }

  .bg-gray {
    background-color: color-gray;
  }

  .bg-green {
    background-color: color-green;
  }

  .bg-red {
    background-color: color-red;
  }
  .bg-white {
    background-color: #fff;
  }
}

/* clear
 ======================================== */

.clear-gap {
  font-size: 0;
}

/**
 * 分割线
 */

.dividing-line {
  display: inline-block;
  width: 1px;
  min-height: .9em;
  background-color: #e0e0e0;
}
  /**
   * 阴影
   */
.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

  /**
   * 下边框
   */
.border-bottom {
  border-bottom: 1px solid #e0e0e0
}

/**
 * 按钮
 */
.tentacle--btn {
  display: inline-block;
  min-width: 50px;
  margin-left: 10px;
  padding: 6px 10px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background-color: #20A0FF;
  float: right
}
 /**
  * 进度环
  */
.view--rate {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-size: 16px;
  color: #fff;
  background-color: #13CE66;
}
