body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #353535;
  background-color: #EFF2F7;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
}

input {
  outline: none;
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  border-radius: 0;
  font-size: 14px;
}

p, h3 {
  margin: 0;
}

.flex-1 {
  flex: 1;
}

.mt10 {
  margin-top: 10px;
}


.mobile {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/icon-call.svg);
}
