/* 重置 TabBarItem 颜色
  ===========================================*/
.TabBarItem {
  color: #8492a6 !important;
}

.TabBarItem.selected {
  color: #20a0ff !important;
}

/* 重置 picker  样式*/
.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll .wheel-item {
  font-size: 15px;
}


/* 公共模块
  ===========================================*/

/**
 * 打电话控件
 */
.call-up-ctrl {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/icon-call.svg);
}

/**
 * 小按钮
 */
.button--small {
  display: inline-block;
  min-width: 50px;
  padding: 6px 10px;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #20A0FF;
}

/**
 * 大按钮
 */
.button--large {
  height: 40px;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #20A0FF;
}


/**
 * 黄色标签
 */
.tag--orange {
  display: inline-block;
  padding: 2px;
  border: 1px solid #fd6322;
  font-size: 12px;
  line-height: 1;
  color: #fd6322;
}

/**
 * 绿色标签
 */
.tag--green {
  display: inline-block;
  padding: 2px;
  border: 1px solid #13ce66;
  font-size: 12px;
  line-height: 1;
  color: #13ce66;
}


/**
 * 蓝色标签
 */
.tag--blue {
  display: inline-block;
  padding: 2px;
  border: 1px solid #20A0FF;
  font-size: 12px;
  line-height: 1;
  color: #20A0FF;
}


/**
 *
 */
.section-title {
  padding: 15px 15px 10px;
  line-height: 1;
  font-size: 12px;
  color: #99A9BF;
}
