.Loadmore {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  line-height: 1;
  font-size: 13px;
  color: #858585;

  span {
    margin-left: 5px;
  }

}
