.tab {
  display: flex;
  justify-content: space-between;
  background-color: #fff;

}

.tab--item {
  flex: 1;
  text-align: center;
  padding: 10px 5px;
  box-sizing: border-box;
  border-bottom: 2px solid #20a0ff;
}

.tab--item.active {
  color: #ff4d5e;
  background-color: #f5f5f5;
}
