.detail--group {
  display flex
  justify-content space-between
  background #fff
  text-align center
  a {
    text-decoration none
    color: #000
    display block
    margin 0
    width 100%
    background #fff
    padding 10px
  }
  .router-link-active {
    color: #fff;
    //font-size: 16px;
    background-color: #20A0FF;
  }
}


