.clueEdit--tentacle {
  font-size: 12px;
  color: #8492a6;
}

.clueEdit--card {
  padding: 0 15px;
  background-color: #fff;
}

.clueEdit--card--hd {
  padding: 10px 0;
  font-size: 14px;
}

.clueEdit--order--rate,
.clueEdit--order--cost {
  flex: 1;
  text-align: center;
  color: #8492A6;
  .cont {
    padding-bottom: 20px;
    font-size: 16px;
  }
  .name {
    font-size: 12px;
    color: #8492a6;
  }
}
