.level--group {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content space-around
  box-sizing border-box
  line-height 20px
  padding: 0 30px;
  .level--item {
    //padding 3px
    border-bottom 1px solid #000
  }
  .level--item.active {
    .level--num, .level {
      color: red
    }
    border-color red
    border-bottom-width 5px
  }
}

.overview--wrap {
  padding: 20px 30px;
}
