.level--group {
  background #fff
  display: flex;
  width: 100%;
  text-align: center;
  box-sizing border-box
  line-height 20px
  padding: 20px 10px 0 10px;
  .level--item {
    font-size: 8px;
    padding 3px
    border-bottom 1px solid #000
  }
  .level--item.active {
    .level--num, .level {
      color: red
    }
    border-color red
    border-bottom-width 5px
  }
}
