.detail--desc {
  .text--wrap {
    .text--area {
      resize none;
      border-radius 8px;
      border 1px solid #eaeaea;
      outline none;
    }
  }
  .descrip--bd {
    .labels-wrap {
      display: flex;
      justify-content: flex-start;
     /* span {
        font-size: 12px;
        text-align center;
        display inline-block;
      //width 40px;
        background #e0e0e0;
        margin 0 5px;
        padding 5px;
        &.active {
          background #c2d352
          color: #fff
        }
      }*/
    }
  }
}

.descrip--title {
  width 100%
  padding 10px 20px;
  box-sizing border-box
  background-color #fff
  //font-size 18px
  text-align center
  border-bottom 1px solid #e0e0e0
}

.descrip--bd {
  background #fff;
  padding: 10px 20px;
  > div {
    margin 10px 0;
    align-items: center;
    justify-content: flex-start;
    span {
      font-size: 12px;
      text-align center;
      display inline-block;
      width 30px;
      background #e0e0e0;
      margin 0 5px;
      padding 5px;
      &.active {
        background #c2d352
        color: #fff
      }
    }
  }
}

.text--wrap {
  padding: 20px;
  background: #fff
}

  .label--desc {
    width: 58px;
  }

