.detail--desc {
  .text--wrap {
    padding: 20px;
    background: #fff
    .text--area {
      resize none;
      border-radius 8px;
      border 1px solid #eaeaea;
      outline none;
    }
  }


  .descrip--title {
    width 100%
    padding 10px 20px;
    box-sizing border-box
    background-color #fff
  //font-size 18px
    text-align center
    border-bottom 1px solid #e0e0e0
  }
  .descrip--bd {
    background #fff;
    padding: 10px;
    > div {
      margin 10px 0;
      align-items: center;
      justify-content: space-around;

      .labels--wrap {
        display: flex;
        justify-content: space-around;
        span {
          font-size: 12px;
          text-align center;
          display inline-block;
          width 30px;
          background #e0e0e0;
          margin 0 5px;
          padding 5px 3px;
          &.active {
            background #c2d352
            color: #fff
          }
        }
      }
      .label--desc {
        width: 20%;
      }
    }
  }
}





